.br-c-green{
   border:1px solid rgb(0, 255, 4);
}

.br-c-blue{
   border:1px solid rgb(5, 144, 250);
}

.nowrap{
   white-space: nowrap;
}

/* 48em = 768px */
@media(max-width:48em){
   table .btn{
      font-size: 0.75rem;
      /* 1vw = 1% */
      font-size: 3.5vw;
   }
}